---
title: "Validation and Verification of the Implicit Thermo-Chemical Non-Equilibrium CFD Solver in {COOLFluiD with PLATO} "
collection: conferences
permalink: /conference/2024-validation-verification
excerpt: "Sharma, Vatsalya, and Giangaspero, Vincent and Poedts, Stefaan and Lani, Andrea"
date: 2024-01-08
venue: "AIAA SciTech 2024"
paperurl: "https://doi.org/10.2514/6.2024-2728"
---