---
title: "Validation and verification of the implicit thermo-chemical non-equilibrium cfd solver in COOLFluiD with PLATO"
collection: conferences
permalink: /conference/2024-01-08-validation-verification
excerpt: 'V. Sharma, V. Giangaspero, S. Poedts, and A. Lani'
date: 2024-01-08
venue: 'AIAA SciTech 2024'
paperurl: 'https://doi.org/10.2514/6.2024-2728'
---